# This is a good default: files that are auto-detected by git to be text are
# converted to the platform-native line ending (LF on Unix, CRLF on Windows)
# in the working tree and to LF in the repository.
#
* text=auto

# Use `eol=crlf` for files that should have the CRLF line ending both in the
# working tree (even on Unix) and in the repository.
#
#*.bat text eol=crlf

# Use `eol=lf` for files that should have the LF line ending both in the
# working tree (even on Windows) and in the repository.
#
#*.sh text eol=lf

# Use `binary` to make sure certain files are never auto-detected as text.
#
#*.png binary

# Git attributest to ensure directory symlinks are recognised
include/nlohmann symlink=dir
src/src symlink=dir
tests/json-schema-test-suite/JSON-Schema-Test-Suite symlink=dir
tests/json-schema-validate/issue-100 symlink=dir
tests/json-schema-validate/issue-101 symlink=dir
tests/json-schema-validate/issue-12 symlink=dir
tests/json-schema-validate/issue-27 symlink=dir
tests/json-schema-validate/issue-48 symlink=dir
tests/json-schema-validate/issue-54 symlink=dir
tests/json-schema-validate/issue-9 symlink=dir
tests/json-schema-validate/issue-96 symlink=dir
