# Test executables.
#
issue-25-default-values
issue-70
issue-70-root-schema-constructor
issue-98
errors
uri
string-format-check-test
json-schema-test
json-schema-validate
json-patch

# Testscript output directories (can be symlinks).
#
test
test-*
